/.settings
/swagger-demo-api/.settings
/swagger-demo-service/.settings
/.project
/swagger-demo-api/.classpath
/swagger-demo-api/.project
/swagger-demo-service/.classpath
/swagger-demo-service/.project
/swagger-demo-api/target
/swagger-demo-service/target
/saldo-positivo-api/.settings
/saldo-positivo-api/.classpath
/saldo-positivo-api/.project
/saldo-positivo-service/.settings
/saldo-positivo-service/*.classpath
/saldo-positivo-service/.project
