<mat-card>
  <mat-card-title>
    <span>
      Lançamentos - {{mesCurrent.mes}}/{{mesCurrent.ano}}
    </span>
    <mat-chip-list>
      <button mat-button (click)="previewMes()">Mês Anterior</button>
      <button mat-button (click)="mesAtual()">Mês Atual</button>
      <button mat-button (click)="nextMes()">Proximo Mês</button>
      <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="openLancamentos(1)">Recebimento</button>
        <button mat-menu-item (click)="openLancamentos(2)">Pagamento</button>
        <button mat-menu-item (click)="openLancamentos(3)">Investimento</button>
      </mat-menu>
      <button mat-icon-button [disabled]="itemSelected == null" (click)="openPagamento()">
        <mat-icon>payment</mat-icon>
      </button>
      <button mat-icon-button [disabled]="itemSelected == null" (click)="editLancamentos()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [disabled]="itemSelected == null" (click)="excluirLancamento()">
        <mat-icon>delete_forever</mat-icon>
      </button>

    </mat-chip-list>
  </mat-card-title>
  <mat-card-content>
    <div class="div">
      <table class="lancamentos">
        <thead>
          <tr style="height: 30px; background-color: teal; color: white;">
            <th width=50>Dia</th>
            <th width=400>Lançamento</th>
            <th width=100>Planejado</th>
            <th width=100>Efetivo</th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 20px; background-color:gray; color: white">
            <th width=200 colspan="4">RECEBIMENTOS</th>
          </tr>
          <tr *ngFor="let item of recebimentoDataSet " (click)="onSelect($event, item, 1)">
            <td>{{item.diaVencimento}}</td>
            <td>{{item.nmLancamento}}</td>
            <td>{{item.valorPlanejado}}</td>
            <td>{{item.valorEfetivo}}</td>
          </tr>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{getTotalPlanejado(recebimentoDataSet)}}</th>
            <th>{{getTotalPago(recebimentoDataSet)}}</th>
          </tr>
          <tr style="height: 20px; background-color:gray; color: white">
            <th width=200 colspan="4">PAGAMENTOS</th>
          </tr>
          <tr style="height: 20px; ">
            <th width=200 colspan="4">Gastos Fixos</th>
          </tr>
          <tr *ngFor="let item of gastosFixosDataSet" (click)="onSelect($event, item, 2)">
            <td>{{item.diaVencimento}}</td>
            <td>{{item.nmLancamento}}</td>
            <td>{{item.valorPlanejado}}</td>
            <td>{{item.valorEfetivo}}</td>
          </tr>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{getTotalPlanejado(gastosFixosDataSet)}}</th>
            <th>{{getTotalPago(gastosFixosDataSet)}}</th>
          </tr>
          <tr style="height: 20px; ">
            <th width=200 colspan="4">Gastos Periódicos</th>
          </tr>
          <tr *ngFor="let item of gastosPeriodicosDataSet" (click)="onSelect($event, item, 2)">
            <td>{{item.diaVencimento}}</td>
            <td>{{item.nmLancamento}}</td>
            <td>{{item.valorPlanejado}}</td>
            <td>{{item.valorEfetivo}}</td>
          </tr>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{getTotalPlanejado(gastosPeriodicosDataSet)}}</th>
            <th>{{getTotalPago(gastosPeriodicosDataSet)}}</th>
          </tr>
          <tr style="height: 20px; ">
            <th width=200 colspan="4">Cartão de Crédito</th>
          </tr>
          <tr *ngFor="let item of cartaoCreditoDataSet" (click)="onSelect($event, item, 2)">
            <td>{{item.diaVencimento}}</td>
            <td>{{item.nmLancamento}}</td>
            <td>{{item.valorPlanejado}}</td>
            <td>{{item.valorEfetivo}}</td>
          </tr>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{getTotalPlanejado(cartaoCreditoDataSet)}}</th>
            <th>{{getTotalPago(cartaoCreditoDataSet)}}</th>
          </tr>
          <tr style="height: 20px; background-color:gray; color: white">
            <th width=200 colspan="4">INVESTIMENTOS</th>
          </tr>
          <tr>
            <th width=200 colspan="4">Aportes</th>
          </tr>
          <tr *ngFor="let item of aportesDataSet" (click)="onSelect($event, item, 3)">
            <td>{{item.diaVencimento}}</td>
            <td>{{item.nmLancamento}}</td>
            <td>{{item.valorPlanejado}}</td>
            <td>{{item.valorEfetivo}}</td>
          </tr>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{getTotalPlanejado(aportesDataSet)}}</th>
            <th>{{getTotalPago(aportesDataSet)}}</th>
          </tr>
          <tr>
            <th width=200 colspan="4">Resgates</th>
          </tr>
          <tr *ngFor="let item of resgatesDataSet" (click)="onSelect($event, item, 3)">
            <td>{{item.diaVencimento}}</td>
            <td>{{item.nmLancamento}}</td>
            <td>{{item.valorPlanejado}}</td>
            <td>{{item.valorEfetivo}}</td>
          </tr>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{getTotalPlanejado(resgatesDataSet)}}</th>
            <th>{{getTotalPago(resgatesDataSet)}}</th>
          </tr>
          <tr>
            <th width=200 colspan="4">Desembolsos</th>
          </tr>
          <tr *ngFor="let item of desembolsosDataSet" (click)="onSelect($event, item, 3)">
            <td>{{item.diaVencimento}}</td>
            <td>{{item.nmLancamento}}</td>
            <td>{{item.valorPlanejado}}</td>
            <td>{{item.valorEfetivo}}</td>
          </tr>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{getTotalPlanejado(desembolsosDataSet)}}</th>
            <th>{{getTotalPago(desembolsosDataSet)}}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="div-space"></div>
    <div>
      <table>
        <tr>
          <th>Valores</th>
          <th>Totais</th>
        </tr>
        <tr>
          <th>Recebimento</th>
          <th>{{totais.recebimentos}}</th>
        </tr>
        <tr>
          <th>Pagamentos</th>
          <th>{{totais.pagamentos}}</th>
        </tr>
        <tr>
          <th>
            <p>Sobra</p>
          </th>
          <th>{{totais.recebimentos - totais.pagamentos}}</th>
        </tr>
        <tr>
          <th>Investimentos</th>
          <th>{{totais.investimentos}}</th>
        </tr>
        <tr>
          <th>
            <p>Patrimonio</p>
          </th>
          <th>{{totais.recebimentos + totais.investimentos - totais.pagamentos}}</th>
        </tr>

      </table>
    </div>
  </mat-card-content>
</mat-card>